body{
    background-color: rgb(37, 4, 69);
}
.container{
    display: flex;
    justify-content: center;
   align-items: center;
   margin-top: 150px;
    
}

.a1{
    border: 2px solid black;
    height: 300px;
    width: 400px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    color: white;
    font-size: x-large;
    background-color: rgb(16, 8, 48);
    
    padding: 20px;
   
   
}
.b1{
   
    padding: 10px;
    background-color: rgb(16, 8, 48);
}
.b2 p{
    padding: 10px;
    font-size: medium;
    opacity: 0.2;
}

span{
    color: rgb(125, 125, 228);
    background-color: rgb(16, 8, 48);
}
.gradient{
    position: absolute;
    height: 343px;
    width: 400px;
    background-image: linear-gradient(to right,rgba(rgb(5, 5, 206)),rgba(rgb(115, 115, 209)));
    

}

.a2 img{
    border: 2px solid black;
    height: 343px;
    width: 400px;
   
}



.b3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(16, 8, 48);
}
.c1{
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
   
    
}
.c1,.c1 div,i{
    background-color: rgb(16, 8, 48);
}
.b2, .b2 p{
    background-color: rgb(16, 8, 48);
}

